body
{
background-color: rgb(175, 252, 252);
}

h1
{
    color: rgb(255, 157, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    font-style: oblique;
}

h4
{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-style: italic;
}

.copy_right_footer
{
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;  
}

#camera
{
    height: 400px;
    width: 500px;
    border-color: blue;
}

img
{
height: 300px;
width:400px;
box-shadow:15px 15px 40px 10px grey;
}

img:hover
{
    border-radius: 100px;
    border:10px solid blue;
}